# Ignore Python virtual environment directories
backend/venv/

# Ignore Visual Studio Code workspace settings
.vscode/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment configuration files
.env
backend/model/__pycache__/git_base_model.cpython-312.pyc
