.about {
  background: linear-gradient(120deg, #f5ccd4, #c9def4, #f5ccd4);
}

.wave-container {
  width: 100%;
  overflow: hidden; /* Prevent overflow from affecting layout */
  margin: 0; /* Remove any margin */
  padding: 0; /* Remove any padding */
}

.reviews-title {
  font-size: 5rem; /* Font size */
  background: linear-gradient(120deg, #b57bee, #c53a94); /* Gradient background */
  -webkit-background-clip: text; /* Clip the background to the text for Safari */
  background-clip: text; /* Standard property for other browsers */
  color: transparent; /* Make text color transparent */
}


.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.reviews-section {
  display: flex;
  align-items: center; /* Center align items vertically */
  margin: 50px 0;
  width: 100%; /* Make sure it takes full width */
  padding: 0 250px; /* Add left and right padding */
}

.reviews-content {
  display: flex; /* Display reviews in a row */
  flex-wrap: nowrap; /* No wrapping */
  justify-content: center;
  gap: 20px; /* Space between reviews */
  width: 100%; /* Ensure it takes full width */
}

.review-item {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex: 0 0 calc(33.33% - 20px); /* 3 items per row */
  text-align: center; /* Center text for the review item */
}

.stars-container {
  margin-bottom: 10px; /* Space between stars and text */
}

.review-text {
  font-style: italic;
  font-size: 1.5rem;
  color: #333;
}

.review-author {
  text-align: right;
  font-weight: bold;
  font-size: 1.2rem;
  color: #666;
}

.star-rating {
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center stars horizontally */
  margin-bottom: 10px; /* Space between stars and text */
}

.nav-button {
  background: none;
  border: none;
  cursor: pointer;
  color: 2b235a;
  font-size: 24px; /* Increase button size */
  margin: 0 20px; /* Space between button and reviews */
}

.star {
  color: #ccc; /* Default star color */
}

.star.filled {
  color: #ffd700; /* Gold color for filled stars */
}
