.faq {
  padding: 50px;
  background-color: #2b235a;
}

.faq-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq-header {
  text-align: center;
  margin-bottom: 30px;
}

.faq-title {
  font-size: 5rem;
  background: linear-gradient(120deg, #7ef29d, #2178dd); /* Define the gradient background */
  -webkit-background-clip: text; /* Clip the background to the text */
  background-clip: text; /* Standard property for other browsers */
  color: transparent; /* Set the text color to transparent */
}

.faq-subtitle {
  font-size: 1.5rem;
  color: #666;
}

.faq-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-item {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.faq-question {
  font-size: 1.5rem;
  font-weight: 900;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-icon {
  font-size: 1.5rem;
  color: #666;
}

.faq-answer {
  font-size: 1.5rem;
  color: #555;
  margin-top: 10px;
  padding-left: 1rem;
  border-left: 2px solid #ddd;
}

@media screen and (max-width: 768px) {
  .faq-title {
    font-size: 2rem;
  }

  .faq-subtitle {
    font-size: 1rem;
  }

  .faq-question {
    font-size: 1.3rem;
  }

  .faq-answer {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  .faq-container {
    padding: 20px;
  }
}

.star-rating {
  display: flex;
}

.star {
  font-size: 24px; /* Adjust the size as needed */
  color: lightgray; /* Default color for empty stars */
  margin-right: 5px;
}

.star.filled {
  color: gold; /* Color for filled stars */
}
