/* ExplorePage Styles */
.gallery-container {
  padding: 50px;
  text-align: center;
  background-color: #1c0c43;
  min-height: 100vh;
}

.gallery-title{
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}

/* Gallery Styles */
.gallery-container .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid */
  gap: 30px;
  padding: 20px;
  background-color: #1c0c43;
  justify-items: center;
}

.gallery-container .gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: #311f60;
}

.gallery-container .gallery-item:hover {
  transform: scale(1.05);
}

.gallery-container .gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/* Gallery actions (Favorite and Delete buttons) */
.gallery-container .gallery-actions {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
}

 .gallery-container .delete-btn {
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  color: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.gallery-container .favorite-btn{
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  color: white;
  border: none;
  padding: 8px;
  border-radius:50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.gallery-container .favorite-btn.favorited {
  background: rgba(255, 215, 0, 0.9); /* Gold background for favorited items */
}

.gallery-container .favorite-btn:hover, .gallery-container .delete-btn:hover {
  background: rgba(0, 0, 0, 0.8); /* Darker background on hover */
}

/* Caption below each image */
.gallery-container .gallery-caption {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
  .gallery-container .gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .gallery-container .gallery-title{
    font-size: 28px;
  }
}

@media (max-width: 576px) {
  .gallery-container .gallery {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .gallery-container .gallery-title{
    font-size: 24px;
  }
}
