/* Gallery Container */
.gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #1c0c43;
    color: #fff;
  }
  
  .error {
    color: red;
    text-align: center;
  }
  
  /* Gallery Grid */
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 30px;
    margin-top: 10px;
  }
  
  .gallery-item {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    
  }

  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 8px;
    transition: transform 0.3s;
  }
  
  .gallery-image:hover {
    transform: scale(1.05);
  }
  
  .gallery-item p {
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
  }
  
  /* Favorite and Delete Buttons */
  .gallery-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
  
  .favorite-btn, .delete-btn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .favorite-btn {
    background-color: #007bff;
    color: white;
  }
  
  .favorite-btn.favorited {
    background-color: #ffc107;
  }
  
  .favorite-btn:hover, .delete-btn:hover {
    opacity: 0.9;
  }
  
  .delete-btn {
    background-color: #dc3545;
    color: white;
  }
  
  /* Footer styling */
.footer {
    background-color: #2a1d59;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: absolute;
    height: -100px;
    margin-top: auto;
    width: 100%;
  }
  