/* ExplorePage Styles */
.gallery-container {
  padding: 50px;
  text-align: center;
  background-color: #2b235a;
  min-height: 100vh;
}

.gallery-title{
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 20px;
  background: linear-gradient(120deg, #f3a46c, #fdf1cb, #aed1ef); /* Gradient background */
    -webkit-background-clip: text; /* Clip the background to the text */
    background-clip: text; /* Standard property for other browsers */
    color: transparent; /* Set the text color to transparent */ 
}

.gallery-buttons {
  display: flex;
  gap: 20px; /* Adjust the gap as needed */
  justify-content: center; /* Centers the buttons horizontally */
  margin-bottom: 20px; /* Optional: Adds some space below the buttons */
}

.gallery-buttons button.active {
  background-color: #4caf50;
  color: white;
}

.btn-fav-photos {
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-fav-photos:hover {
  background-color: #c14e02;
}

.btn-all-photos {
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-all-photos:hover {
  background-color: #cc8400;
  
}

/* Gallery Styles */
.gallery-container .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid */
  gap: 30px;
  padding: 20px;
  background-color: #2b235a;
  justify-items: center;
}

.gallery-container .gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: #1b0041;
  height: 400px;
}

.gallery-container .gallery-item:hover {
  transform: scale(1.05);
}

.gallery-container .gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/* Gallery actions (Favorite and Delete buttons) */
.gallery-container .gallery-actions {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery-container .favorite-btn {
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  color: white;
  border: none;
  width: 32px; /* Set a fixed width */
  height: 32px; /* Set a fixed height */
  padding: 17px;
  margin-top: 8px;
  border-radius: 50%; /* Fully round the button */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.gallery-container .delete-btn{
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  color: white;
  border: none;
  padding: 17px;
  width: 32px; /* Set a fixed width */
  height: 32px; /* Set a fixed height */
  border-radius: 50%; /* Fully round the button */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}


.gallery-container .favorite-btn.favorited {
  background: rgba(245, 245, 245, 0.6);; /* Gold background for favorited items */
  
}

.gallery-container .favorite-btn:hover, .gallery-container .delete-btn:hover {
  background: rgba(0, 0, 0, 0.8); /* Darker background on hover */
}

/* Caption below each image */
.gallery-container .gallery-caption {
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
  color: #fff;
  padding: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .gallery-container .gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .gallery-container .gallery-title{
    font-size: 28px;
  }
}

@media (max-width: 576px) {
  .gallery-container .gallery {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .gallery-container .gallery-title{
    font-size: 24px;
  }
}
