body {
  font-family: 'Poppins', sans-serif; /* Ensure to include a fallback font */
}

.childHome {
  display: flex;
  flex-direction: column;
  background-color: #2b235a;
  text-align: center;
  text-decoration: none;
}

.child-welcome-header h2{
  font-size: 5rem;
  background: linear-gradient(120deg, #60efff, #f292ed, #ea5459); /* Define the gradient background */
  -webkit-background-clip: text; /* Clip the background to the text */
  background-clip: text; /* Standard property for other browsers */
  color: transparent; /* Set the text color to transparent */
  padding-top: 50px;
}

.child-welcome-header p {
  font-size: 2rem;
  color: white;
}

.child-profile-btn {
  background-color: #4a4a7d;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 1.3em;
  border-radius: 5px;
  cursor: pointer;
}

.child-profile-btn:hover {
  background-color: #5a5aa0;
}

.child-options-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: center;
  margin: 50px auto;
  width: 90%;
  max-width: 1200px;
  padding-bottom: 50%;
}

.child-options-grid a:hover {
  text-decoration: none; /* Ensure no underline appears even on hover */
}

.child-option-card {
  display: flex;
  flex-direction: column; /* Stack the icon and text vertically */
  justify-content: center;
  align-items: center;
  height: 350px;
  color: white;
  font-size: 3.5rem; /* Larger text */
  font-weight: 700;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  font-family: 'Poppins', sans-serif; /* Set Poppins for option cards */
}

.child-option-card a {
  color: white;
  text-decoration: none;
}

.child-option-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.child-icon {
  font-size: 7rem; /* Increase the size of the icon */
}

.red {
  background: linear-gradient(135deg, #ea5459, #f89b29);
}

.green {
  background: linear-gradient(135deg, #7ef29d, #0f68a9);
}

.blue {
  background: linear-gradient(135deg, #0061ff, #60efff);
}

.pink {
  background: linear-gradient(135deg, #f292ed, #ea5459);
}
