.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100; /* Ensure the navbar is on top of all elements */
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  display: flex;
  align-items: center;
  margin: 1rem;
  color: #f6f6f6;
  z-index: 105; /* Ensure logo stays on top */
}

.hamburger {
  display: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 110; /* Ensure hamburger icon is always above the menu */
}

.hamburger:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.navbar .slide-right {
  margin-left: 45%; /* Shift the logo to the right */
  transition: 0.8s ease-in-out; /* Smooth transition for the logo */
  z-index: 150;
}

.nav-menu {
  display: flex;
  list-style: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
  z-index: 102;
}

.nav-menu li {
  padding: 1rem;
}

.nav-menu li a, .auth-button {
  color: #f6f6f6;
  font-size: 1rem;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
}

.auth-button {
  padding: 0.7rem;
  font-size: 1.2rem;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.3);
  color: #f6f6f6;
  border: none;
  cursor: pointer;
  width: 100%; /* Fix width */
  box-sizing: border-box; /* Ensure padding is included */
  transition: background 0.3s ease;
  text-decoration: none;
}

.auth-button:hover {
  background: rgba(255, 255, 255, 0.1); /* Only change background on hover */
}

/* Mobile view (for screens below 940px) */
@media screen and (max-width: 940px) {
  .hamburger {
      display: block;
      z-index: 120;
  }

  .nav-menu {
      position: absolute;
      flex-direction: column;
      justify-content: center;
      width: 60%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.8); /* Translucent background */
      top: 0;
      right: -100%;
      transition: 0.9s ease-in-out;
      list-style: none;
      margin: 0;
      padding: 0;
      z-index: 110; /* Ensure the nav menu is on top */
  }

  .active {
      right: 0;
  }

  .nav-menu li {
      margin: 0.5rem;
  }

  .nav-menu li a {
      font-size: 1.2rem;
  }

  .nav-menu li:hover {
      border-bottom: 1px solid #aaa;
      width: 175px;
  }

  .auth-button {
      margin: 1rem auto;
      width: 100%; /* Ensure the button takes full width in mobile view */
  }

  .mobile-menu .social-icons {
      display: flex;
      justify-content: space-evenly;
      margin: 1rem;
  }

  .icon {
      color: #f8f8f8cc;
      font-size: 1.4rem;
  }
}

/* Hide social media icons in desktop view */
@media screen and (min-width: 941px) {
  .mobile-menu .social-icons {
      display: none; /* Hide social media icons in desktop mode */
  }
}

@media screen and (max-width: 495px) {
  .nav-menu {
      width: 75%;
  }

  .navbar .slide-right {
      margin-left: 30%;
  }
}