.user-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 30px auto;
    width: 70%;
}

.user-card {
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    padding: 15px;
    color: white;
    text-align: center;
    transition: transform 0.2s ease;
}

.user-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 3px rgb(150, 150, 150);
}

.user-details {
    margin: 0 20px;
    color: black;
}

.user-details p {
    text-align: left;
    margin: 5px 0;
    font-size: 12px;
}

.user-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.user-header p {
    font-weight: bold;
    font-size: 14px;
}

.profile-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.suspended {
    color: #f44336;
}

.active {
    color: #4caf50;
}

.suspend-btn {
    padding: 12px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #db3d32;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    width: 48%;
}

.suspend-btn.unsuspend {
    background-color: grey;
}

.suspend-btn:hover {
    background-color: #f44336;
    box-shadow: 0 0;
    ;
}

.suspend-btn.unsuspend:hover {
    background-color: rgb(145, 145, 145);
    box-shadow: 0 0;
    ;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button:focus {
    outline: none;
}

/* View All Reviews */
.star {
    font-size: 20px;
    color: #ccc;
}

.star.filled {
    color: #f5b742;
}

.star.empty {
    color: #ccc;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin-left: 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.2s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.2s;
}

input:checked+.slider {
    background-color: #4caf50;
}

input:checked+.slider:before {
    transform: translateX(14px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Search Bar */
.search-container {
    position: relative;
    width: 50%;
    margin: 20px auto;
}

.search-bar {
    width: 100%;
    padding: 10px 40px 10px 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 25px;
    transition: border-color 0.3s ease;
}

.search-bar:focus {
    box-shadow: 0 0 5px 2px rgb(150, 150, 150);
    outline: none;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #aaa;
    pointer-events: none;
}

/* Edit Profile Role Name */
.role-name{
    display: flex;
}

.role-name p {
    display: inline;
}

.edit-icon, .save-icon {
    margin: auto;
    padding-left: 4px;
    padding-bottom: 2px;
    cursor: pointer;
    font-size: 16px;
}

.edit-role-input {
    font-size: 14px;
    margin-left: 2px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    width: 100px;
    margin-top: 4px;
}
