/* Main container styles with padding */
.features-container {
  padding: 50px 0;
  background-color: #2b235a;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Text and Video Container, side-by-side */
.text-slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px; /* Spacing between text/video and features */
}

/* Text Content */
.text-content {
  flex: 1;
  padding-right: 30px;
  max-width: 50%; /* To keep equal space with the video */
}

.text-content h1 { 
  font-size: 4rem;
  background: linear-gradient(120deg, #60efff, #f292ed, #ea5459);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: 20px;
}

.text-description {
  font-size: 1.5rem;
  color: white;
  margin: 10px 0;
  font-weight: 100;
}

.text-description strong {
  font-weight: bold;
  color: var(--primary-color);
}

/* Video Container */
.video-container {
  flex: 1;
  max-width: 50%; /* To keep equal space with the text */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Positioning context for the button */
  border-radius: 20px; /* Rounded corners for video container */
}

.background-video {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px; /* Match container’s border-radius */
}

.mute-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 8px 12px;
  font-size: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.mute-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}


/* Feature grid layout */
.features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0; /* Padding around features grid */
  background-color: #2b235a;
}

.feature-item {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #333;
}

.feature-item .icon {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.feature-item h3 {
  font-size: 2rem;
  color: black;
  margin-bottom: 20px;
  font-weight: 900;
}

.feature-item p {
  font-size: 1.5rem;
  color: #666;
  font-weight: 100;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .text-slider-container {
    flex-direction: column;
    align-items: center;
  }

  .text-content, .video-container {
    max-width: 100%;
    padding-right: 0;
  }

  .text-content h1 {
    font-size: 3rem;
  }

  .text-description {
    font-size: 1.2rem;
  }

  .features-grid {
    grid-template-columns: 1fr;
    width: 95%;
  }
}

/* Feature Grid Background Colours */
.red {
  background: linear-gradient(135deg, #ea5459, #f89b29);
}

.green {
  background: linear-gradient(135deg, #7ef29d, #0f68a9);
}

.blue {
  background: linear-gradient(135deg, #0061ff, #60efff);
}

.pink {
  background: linear-gradient(135deg, #f292ed, #ea5459);
}
