body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.activityHome {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #2b235a;
  color: white;
  text-align: center; /* Keep the main text centered */
}

.welcome-header h2 {
  font-size: 5rem;
  background: linear-gradient(120deg, #60efff, #f292ed, #ea5459);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-top: 50px;
}

.welcome-header p {
  font-size: 2rem;
  color: white;
}

.button-container {
  display: flex;               
  justify-content: center;     
  gap: 10px;                  
  margin: 20px 0; /* Add margin for spacing */
}

.button-container button.active {
  background-color: #4caf50;
  color: white;
}

.profile-btn {
  background-color: #4a4a7d;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 1.1em;
  border-radius: 5px;
  cursor: pointer;
}

.profile-btn:hover {
  background-color: #5a5aa0;
}

.icon {
  font-size: 6rem; /* Increase the size of the icon */
  margin-bottom: 20px; /* Add more space between the icon and the text */
}

.activity-section {
  margin: 20px 0; /* Add margin for spacing */
  text-align: center; /* Center text in activity sections */
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center elements horizontally */
}

.activity-section h3 {
  font-size: 3rem;
  font-weight: bolder;
}

.scores-list {
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove padding */
  font-size: 2rem;
}

.uploaded-image {
  width: 100px; /* Set a width for the images */
  height: 100px; /* Set a height for the images */
  object-fit: cover; /* Ensure images cover the space without distortion */
  margin: 5px; /* Space between images */
}

.upload-date {
  font-size: 1rem; /* Set the font size to your preference */
  color: #ccc; /* Optional: Change the text color to distinguish from other text */
  margin-top: 5px; /* Optional: Add some spacing above the date text */
}


.pictures-container {
  display: grid;               /* Use grid layout */
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 10px;                  /* Space between images */
  justify-content: center;     /* Center the grid */
  
}




.red {
  background: linear-gradient(135deg, #ea5459, #f89b29);
}

.green {
  background: linear-gradient(135deg, #7ef29d, #0f68a9);
}

.blue {
  background: linear-gradient(135deg, #0061ff, #60efff);
}

.pink {
  background: linear-gradient(135deg, #f292ed, #ea5459);
}
